<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
  <logging>
    <log type="coverage-html" target="./tests/codeCoverage" charset="UTF-8"/>
  </logging>
   <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
